<div class="footer" style="background-color:white;">
    <div class="container">
      <div class="row d-flex justify-content-between my-5">
        <div class="col-md-12">
          <div class="row text-center">
            <div class="col-lg-4 col-md-4">
              <h5>Motif</h5>
              <hr>
              <ul class="list-unstyled">
                <li><%= link_to "Top", "/", class: "no-dec" %></li>
                <li><%= link_to "Motifとは", "/#about", class: "no-dec" %></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-4">
              <h5>Webmaster</h5>
              <hr>
              <ul class="list-unstyled">
                <li><%= link_to "乙村海斗", "https://k0a1i1t6o.github.io", class: "no-dec" %></li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-4">
              <h5>Contact</h5>
              <hr>
              <ul class="list-unstyled">
                <li><%= link_to "お問い合せ", "mailto:kaikai25250116@gmail.com", class: "no-dec" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-12 border-top pt-5">
          <div class="col-md-12 text-center">
            <p class="text-secondary mb-0" style="font-size: 1.5em;">Motif</p>
          </div>
          <div class="col-md-12 text-center">
            <p class="text-secondary mb-0">© 2019 Kaito Otsumura</p>
          </div>
        </div>
      </div>
    </div>
</div>